.child-items-container{
  padding: 40px 30px;
}

.widget-content-not-found{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
  position: relative;
  padding: 68px 0;

  &.padding-bottom{
    padding-bottom: 40px;
  }

  & > i{
    font-size: 32px;
    margin-bottom: 5px;
  }

  & > span{
    font-size: 18px;
  }
}

.child-items-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 51px 75px;

  & > span{
    font-size: 22px;
    margin-bottom: 15px;
  }

  & > button{
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #e0e6ed;
    color: #2C8BC2;
    background: #fff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;

    &:hover{
      background: #f9f9f9;
    }
  }

}

