/.web-server-pid
/app/config/parameters.yml
/app/config/parameters_dev.yml
/build/
/phpunit.xml
/var/*
!/var/jwt
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/js/
/web/uploads/
/web/widget/*
!/web/widget/original

/web/webhook_feed_request.txt
/web/webhook_request.txt
/web/cron_request.txt
/web/digistore_request.txt
/web/zapier_request.txt
/web/send_flow_error.txt
/web/upload_attachment_error.txt
/web/check_widget.php
# IntelliJ project files
.idea
*.iml
out
gen

/web/public/
