.list-items{
  & > li{
    & > img{
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
  }
}

.list-main-items{
  display: flex;
  align-items: center;

  & > span{
    font-size: 16px;
    margin-right: 15px;
  }
}
