<div class="text-item-content position-relative margin-bottom--25">
  <div class="error-content-icon">
    <i class="fas fa-exclamation-triangle" *ngIf="!item?.params['url'] && (item?.uuid | publishErrors) === true"></i>
  </div>

  <div class="image-content position-relative"
       [ngClass]="{'error-border': !item?.params['url'] && (item?.uuid | publishErrors) === true}">
    <label class="file-upload file-upload__show-image">
      <img src="/assets/img/builder-sidebar/datei-short.png" alt="datei-short">
      <span *ngIf="!item?.params['url']">Datei</span>
      <a [href]="item?.params?.url" target="_blank" [download]="item?.params?.url" *ngIf="item?.params['url']">{{ item?.params?.name }} <i class="fas fa-download"></i></a>
      <input type="file"
             [disabled]="_builderService.view === 'preview'"
             (change)="_builderFunctionsService.uploadVideoFile(item?.params, $event.target.files, 'file')"/>
    </label>
  </div>

  <div class="sidebar-actions" *ngIf="_builderService.view !== 'preview'">
    <button class="trash-sidebar" (click)="_builderFunctionsService.deleteItemFromSidebar(item)">
      <i class="fas fa-times"></i>
    </button>
    <button class="drop-sidebar-items"><i class="fas fa-arrows-alt-v"></i></button>
    <button (click)="_builderFunctionsService.cloneItemFromSidebar(item)"><i class="far fa-clone"></i></button>
  </div>
</div>
