<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>Kampagne teilen</h3>

    <div class="bot-clone-popup" *ngIf="!selectCheck && checkLink">
      <span class="deaktiv-link">{{ textError }}</span>
    </div>

    <div class="bot-clone-popup" *ngIf="!selectCheck && !checkLink">
      <span>Dieser Kampagne wird geteilt.</span>

      <div class="bot-item disabled-item">
        <p>{{ campaign?.campaignName }}</p>
      </div>

      <i class="fas fa-chevron-down"></i>

      <div class="position--relative">
        <div class="bot-item" (click)="changeStatusPagesList(true)">
          <img *ngIf="selectedPage" [src]="selectedPage?.avatar">
          <span *ngIf="!selectedPage" class="img-preview"></span>

          <p *ngIf="selectedPage">{{ selectedPage?.title }}</p>
          <p *ngIf="!selectedPage">Wählen Sie eine Seite</p>
        </div>

        <ul *ngIf="openPagesList" (clickOutside)="changeStatusPagesList(false)" [delayClickOutsideInit]="true">
          <li class="bot-item" *ngFor="let page of userService.listConnectionPages"
              [ngClass]="{'display-none': page.role !== 1}"
              (click)="selectClonePage(page)">
            <img [src]="page?.avatar">
            <p>{{ page?.title }}</p>
          </li>

          <li class="bot-item" *ngIf="userService.listConnectionPages.length === 0">
            <p>Seiten nicht gefunden</p>
          </li>

        </ul>
      </div>

      <button *ngIf="!buttonPreloader" class="btn primary-button" (click)="sharedCompany()" [disabled]="!selectedPage">Teilen</button>
      <button *ngIf="buttonPreloader" class="btn primary-button loader-button">Teilen</button>

    </div>

    <div class="bot-clone-popup-cloned" *ngIf="selectCheck && !checkLink">
      <p>Erfolg! Kampagne ist geteilt.</p>
      <a (click)="routeToBot()">Gehe zum Bot</a>
    </div>
  </div>
  <div class="col-md-4">
    <a class="logout-link" (click)="logOut()">Abmelden</a>
  </div>
</div>

<app-update-plan></app-update-plan>

<div class="loader-component" [ngClass]="{'close-preloader': !preloaderPage}" style="left: 0">
  <div class="loader" id="loader-1"></div>
</div>
