<div [ngStyle]="{'transform': 'translate(' + positionX + 'px, ' + positionY + 'px)'}"
     [ngClass]="{'sheer': _builderService.statusCreateLink === 'pr'}"
     #element class="item-container blue" appDragItem
     [id]="config?.uuid"
     (mouseDownEvent)="mouseDown($event, config, _builderService.requestDataItems, element)" (mouseUpEvent)="mouseUp()"
     (mouseMoveEvent)="move($event, config, _builderService.requestDataItems)"
     (click)="_builderFunctionsService.requestDataToSidebar(config)">
  <div class="starting-step" *ngIf="config?.start_step" data-drag="true">Kampagnen Start</div>
  <div class="item-container-action" *ngIf="_builderService.view !== 'preview'">
    <button class="btn" (click)="_builderFunctionsService.cloneMainItems(config)"><i class="far fa-clone"></i></button>
    <button class="btn trash-btn" (click)="_builderFunctionsService.deleteMainItem(config)">
      <i class="far fa-trash-alt"></i>
    </button>
  </div>
  <div class="item-container__header" data-drag="true">
    <div class="item-container__drag-circle"
         (click)="_builderService.createMouseLink(config, $event, 'all')"
         [ngClass]="{'full': config.arrow.to.id}"
         [id]="'link_' + config?.uuid" data-drag="false"></div>
    {{ config?.name }}
    <button *ngIf="_builderService.view === 'preview' && (config | checkUserInputPreview)"
            (click)="redirectToResponder()"
            [disabled]="config?.countResponses === 0"
            class="btn responder-button">
      {{ config?.countResponses }} Antworten
    </button>
  </div>

  <div *ngIf="_builderService.view === 'preview'" class="stats-main-item">
    <div class="statistic">
      <p class="stat">{{ config?.sent }}</p>
      <span>Geschickt</span>
    </div>
    <div class="statistic">
      <p class="hover">{{ config?.delivered }}</p>
      <p>{{ config?.delivered | flowStatistic:config?.sent | sentProcents }}%</p>
      <span>Geliefert</span>
    </div>
    <div class="statistic">
      <p class="hover">{{ config?.opened }}</p>
      <p>{{ config?.opened | flowStatistic:config?.delivered | sentProcents }}%</p>
      <span>Geöffnet</span>
    </div>
    <div class="statistic">
      <p class="hover">{{ config?.clicked }}</p>
      <p>{{ config?.clicked | flowStatistic:config?.opened | sentProcents }}%</p>
      <span>Angeklickt</span>
    </div>
  </div>

  <div class="item-container__body" data-drag="true">
    <ng-container [config]="config" appDynamicChild></ng-container>
  </div>
</div>
