<div class="company-component">
  <div class="flow-folders">
    <span>Autoresponder</span>
  </div>

  <div class="not-found-messages" *ngIf="!autoresponderItems || autoresponderItems.length === 0">
    <span>Du hast kein Autoresponder</span>
  </div>

  <div class="sequences-container" *ngIf="autoresponderItems.length > 0">
    <div class="sequence-table">
      <div class="sequence-table-title">
        <div class="table-row">
          <div class="table-cell" style="width: 60%">Name</div>
          <div class="table-cell d-flex d-flex--align-center" style="width: 10%">Abonnenten</div>
          <div class="table-cell d-flex d-flex--align-center" style="width: 10%">Nachrichten</div>
          <div class="table-cell d-flex d-flex--align-center" style="width: 10%">Öffnungsrate</div>
          <div class="table-cell d-flex d-flex--align-center" style="width: 5%">CTR</div>
          <div class="table-cell d-flex d-flex--align-center" style="width: 5%"></div>
        </div>
      </div>

      <div class="sequence-table-body">
        <div class="table-row" *ngFor="let item of autoresponderItems; let i = index">
          <div class="table-cell" style="width: 60%" (click)="companyManagerService.navigateToTab(item, 'autoresponder', true)">
            <i class="far fa-folder"></i> {{ item?.title }}
          </div>
          <div class="table-cell" style="width: 10%" (click)="companyManagerService.navigateToTab(item, 'autoresponder', true)">
            {{ item?.countSubscribers }}
          </div>
          <div class="table-cell" style="width: 10%" (click)="companyManagerService.navigateToTab(item, 'autoresponder', true)">
            {{ item?.countItems }}
          </div>
          <div class="table-cell" style="width: 10%" (click)="companyManagerService.navigateToTab(item, 'autoresponder', true)">
            {{ item?.openRate }}
          </div>
          <div class="table-cell" style="width: 5%" (click)="companyManagerService.navigateToTab(item, 'autoresponder', true)">
            {{ item?.ctr }}
          </div>
          <div class="table-cell d-flex--justify-end" style="width: 5%">
            <div ngbDropdown placement="bottom-left" *ngIf="_userService.userPageInfo?.role !== 4" class="d-inline-block">
              <button class="btn sidebar-top-menu-button icon-btn-main" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-ellipsis-v"></i></button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="right: 0; left: auto !important;" class="left-imp">
                <button class="dropdown-item" (click)="openVerticallyCenter(update, item)"><i class="fas fa-pencil-alt"></i> Umbenennen</button>
                <button class="dropdown-item" (click)="copySequence(item.id)"><i class="far fa-clone"></i> Duplizieren</button>
                <button class="dropdown-item" (click)="openVerticallyCentered(share, item)">
                  <i class="far fa-share-square"></i> Teilen Sie diese Autoresponder
                </button>
                <button class="dropdown-item trash" (click)="openVerticallyCenterRemove(content, item?.id, i)"><i class="far fa-trash-alt"></i> Löschen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loader-component" [ngClass]="{'close-preloader': !preloader}">
    <div class="loader" id="loader-1"></div>
  </div>
</div>

<ng-template #update let-c="close" let-c="dismiss">
  <button type="button" class="close create-autoposting-chanel-close" aria-label="Close" (click)="c('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body d-flex d-flex--direction-column create-autoposting-chanel">
    <h3 class="title-modals">Umbenennen Autoresponder</h3>
    <input type="text" placeholder="Sequence name" [ngModel]="sequnceUpdate['title']" #updateS>
    <div class="footer-chanel-buttons d-flex d-flex--justify-between">
      <button class="btn default-button" (click)="c('Cross click')">Schließen</button>
      <button class="btn success-button" (click)="updateSequence(sequnceUpdate, updateS?.value)" [disabled]="!sequnceUpdate['title']">Aktualisieren</button>
    </div>
  </div>
</ng-template>

<ng-template #share let-c="close" let-c="dismiss">
  <button type="button" class="close create-autoposting-chanel-close" aria-label="Close" (click)="c('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div *ngIf="!preloaderPopup" class="modal-body d-flex d-flex--direction-column create-autoposting-chanel">
    <h3 class="title-modals">Autoresponder teilen</h3>
    <span class="link-span">Link teilen</span>

    <div class="d-flex">
      <a [href]="shareData?.url" target="_blank" id="link-invite" class="margin-top--15 margin-bottom--15">{{shareData?.url}}</a>
      <button *ngIf="!copied" (click)="copyToClipboard(shareData?.url)" class="copy-board"><i class="far fa-clone"></i> Copy</button>
      <button *ngIf="copied" class="copy-board copied"><i class="far fa-clone"></i> Copied</button>
    </div>


    <div class="d-flex d-flex--align-center margin-bottom--18">
      <label class="new-switch notification-switch switch-green">
        <input type="checkbox" class="switch-input" [checked]="shareData?.status" (click)="editShareStatus()">
        <span class="switch-label" data-on="Aktiviert" data-off="Deaktiviert"></span>
        <span class="switch-handle"></span>
      </label>

      <span class="status-share">Status</span>
    </div>
    <div class="footer-chanel-buttons d-flex d-flex--justify-between">
      <button class="btn default-button" (click)="c('Cross click')">Schließen</button>
    </div>
  </div>

  <div class="loader-component" style="min-height: 350px" [ngClass]="{'close-preloader': !preloaderPopup}">
    <div class="loader" id="loader-1"></div>
  </div>
</ng-template>

<ng-template #content let-c="close" let-c="dismiss">
  <button type="button" class="close create-autoposting-chanel-close" aria-label="Close" (click)="c('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body d-flex d-flex--direction-column create-flow">
    <h3>Autoresponder löschen</h3>
    <span class="delete-title">Wenn du diese Autoresponder löscht, sind alle Daten dieser Autoresponder unwiderruflich gelöscht. Das kann nicht rückgängig gemacht werden.</span>
    <div class="footer-chanel-buttons">
      <button class="btn default-button" (click)="c('Cross click')">Abbrechen</button>
      <button class="btn danger-button" (click)="deleteSequence();c('Cross click')">Löschen</button>
    </div>
  </div>
</ng-template>
