<div class="update-plan-container" *ngIf="sharedService.openUpdatePlan">
  <div class="open-messanger-popup"  (clickOutside)="closePopup()" [delayClickOutsideInit]="true">
    <i class="fas fa-times" (click)="closePopup()"></i>
    <div class="d-flex d-flex--align-center d-flex--justify-center margin-right--10">
      <i class="far fa-times-circle"></i>
    </div>

    <div class="d-flex d-flex--align-center d-flex--justify-center d-flex--direction-column">
      <p>Diese Funktion ist für deinen Plan nicht freigeschaltet. Mache bitte ein Upgrade um diese Funktion zu nutzen!</p>
      <a [href]="'https://chatbo.de/upgrade/'"
         (click)="closePopup()"
         target="_blank"
         class="btn default-button">
        Jetzt upgraden
      </a>
    </div>
  </div>
</div>
