.text-items-view{
  margin-bottom: 20px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;

  &:hover{
    .sidebar-actions{
      display: flex;
    }
  }

  .user-input-output{
    margin-top: 15px;
    color: #8492a6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;

    &:after, &:before{
      content: '';
      height: 1px;
      width: 20px;
      background: #8492a6;
      position: relative;
      top: 1px;
    }
  }
}

.quick-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  &.free-user{
    margin-top: 10px;
    align-items: flex-end;
  }

  .quick-item{

    & > label{
      //margin-bottom: 0;
      border: 1px dashed #9e669d;
      color: #9e669d;
      padding: 3px 15px;
      border-radius: 50px;
      margin-bottom: 10px;
      font-size: 16px;
      height: 34px;
      display: flex;
      align-items: center;
      outline: none;
      box-shadow: none !important;
    }
  }
}

.text-content{

  .text{
    & > textarea{
      width: 100%;
      min-height: 60px;
      border: 2px solid #00BFC6;
      color: #000;
      height: auto;
      padding: 8px 10px;
      outline: none;
      font-size: 16px;

      &::placeholder {
        color: #000;
      }

      &:hover{
        border-color: #2C8BC2;
      }

      &:focus, &:active{
        border-color: #13ce66;
      }
    }
  }

  .sub-panel{
    position: absolute;
    right: 15px;
    bottom: -22px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: #00bcd4;

    & > button{
      background: none;
      border: none;
      margin-right: 5px;
      color: #ffffff;
      cursor: pointer;
      padding: 0;
      outline: none;

      &:hover{
        color: #2C8BC2;
      }
    }

    & > span{
      color: #ffffff;
    }
  }
}

.add-quick-btn{
  align-items: center;
  border: 1px dashed #8492a6;
  padding: 4px 15px;
  border-radius: 50px;
  background: transparent;
  color: #8492a6;
  cursor: pointer;
  outline: none;

  &:hover{
    border-color: #2C8BC2;
    color: #2C8BC2;
  }
}

.quick-item{

  &.free-user{
    justify-content: flex-end;
  }

  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  &.quick-btn{
    margin-top: 15px;
  }

  & > input{
    border: 1px solid #E0E6ED;
    padding: 3px 70px 3px 10px;
    border-radius: 50px;
    font-size: 15px;
    height: 38px;
    min-width: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    width: 100%;

    &.open{
      border-color: #13ce66;
      color: #13ce66;
    }
  }
}

.sub-panel{
  z-index: 20;
}

.sub-panels{
  display: flex;
  position: absolute;
  right: 1px;
  top: 0;
  padding: 5px 13px 5px 8px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 12px;
  align-items: center;
  z-index: 4;
  bottom: 0;
  background: #00bcd4;

  &.text{
    top: 122px;
  }

  & > button{
    background: none;
    border: none;
    margin-right: 5px;
    color: #c3c3c3;
    cursor: pointer;
    padding: 0;
    outline: none;

    &:hover{
      color: #2C8BC2;
    }
  }

  & > span{
    color: #c3c3c3;
  }
}

.emoji-conteiner{
  position: absolute;
  top: 28px;
  right: 0;
}

.sub-bulk-actions-panel{
  position: absolute;
  top: 28px;
  right: 0;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  width: 180px;

  & > ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    & > li{
      padding: 10px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.5;
      color: #666;
      text-align: left;

      &:hover{
        background: #f9f9f9;
      }
    }
  }
}

.button-clicks{
  position: absolute;
  right: 40px;
  top: 1px;
  bottom: 1px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: -10px 0px 20px 1px #fff;
  padding: 0 4px;
  color: #13ce66;
}
