$sendMessage: #C5C7C4;
$performAction: #F19230;
$startAnotherFlow: #2C8BC2;
$condition: #BA81B6;
$randomizer: #80AB35;
$smartDelay: #C91E22;

$startStep: #3DA43D;
$bolt: #FCEE21;

$conditionYes: #79C3AE;
$conditionNo: #E480B1;

$randomizerA: #5E418F;
$randomizerB: #2C8BC2;
$randomizerC: #BA81B6;
$randomizerD: #F19230;
$randomizerE: #2C8BC2;
$randomizerF: #3DA43D;
